
/* Default everything to be centred  */

body {
  margin: 0px;
  text-align: center;
  font-family: tahoma, arial, sans-serif;
}

h1 {
  width: 20%;
  margin: 0 auto 0 auto;
  font-family: 'Nunito', sans-serif;
}

h2{
  font-family: 'Nunito', sans-serif;
}


h3{
  font-family: 'Nunito', sans-serif;
}

.name {
  width: 30%;
  margin: 0 auto 0 auto;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 3em;
}

/* Make the top container relative, so that you can absolute position items in it */

.top-container {
  background-color: #BBDFC8;
  padding-top: 100px;
  position: relative;

}

.middle-container {
background-color: #F0E5D8;
padding-top:10px;
padding-bottom:10px;
position: relative
}

.profile{
  margin-left:150px;
  margin-right: 150px;
}

.midcon-skill-text{
margin-bottom:60px;
margin-left:200px;
margin-right: 200px;
}

.techimage {
  height: 75px;
  width: 75px;
  border: 1px solid black;
  position: absolute;
  left:50px;
  top: 260px;
}

.investimage {
  height: 75px;
  width: 75px;
  border: 1px solid black;
  position: absolute;
  left:50px;
  top: 380px;
}

.bottom-container {
background-color: #75CFB8;
padding-bottom: 30px;
}

.btn{
display: block;
padding-top: 30px;
font-family: 'Nunito', sans-serif;
}

.footer-linkedin{
font-family: 'Nunito', sans-serif;
}

.footer-twitter{
font-family: 'Nunito', sans-serif;
}

.profile-picture {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  border: 1px solid black;
  position: absolute;
  left:20px;
  top: 50px;
}

.top-cloud{
  position:absolute;
  top: 50px;
  right: 300px;

}
.bottom-cloud{
  position:absolute;
  bottom: 300px;
  left: 300px;
}

.mountain{

}
